# files/folders having local variable or user information
*.secret
group_vars
group_vars/*
host_vars
host_vars/*
hosts

.DS_Store
.gitsecret
.uuid
.netrwhist
.ipynb_checkpoints
/bin/
!README.md
!*example
!.gitignore

#tags file
tags
tags.lock
tags.temptags
