#jinja2: lstrip_blocks: True
{% if full_name is defined %}
[user]
    name = {{ full_name }}
    {% if git_email is defined %}
    email = {{ git_email }}
    {% endif %}
{% endif %}

{% if git_user is defined %}
[credential "https://github.com"]
    username = {{ git_user }}
    {% if git_credetial_file_path is defined %}
    path = {{ git_credetial_file_path }}
    {% endif %}
{% endif %}
 
{% if smtp_server is defined %}
[sendemail]
    smtpserver = {{ smtp_server }}
    {% if smtp_port is defined %}
    smtpserverport = {{ smtp_port }}
    {% endif %}
    {% if smtp_encyption is defined %}
    smtpencryption = {{ smtp_encyption }}
    {% endif %}
    {% if git_email is defined %}
    smtpuser = {{ git_email }}
    {% endif %}
    {% if smtp_ssl_cert_path is defined %}
    smtpsslcertpath = {{ smtp_ssl_cert_path }}
    {% endif %}
    {% if smtp_password is defined %}
    smtppass = {{ smtp_password }}
    {% endif %}
{% endif %}
