default_context:
    full_name: [USER_NAME]
    email: [E_MAIL_ID]
    github_username: [GITHUB_USER]
cookiecutters_dir: "~/.local/share/cookiecutter/cookies"
replay_dir: "~/.local/share/cookiecutter/replay"
abbreviations:
    gh: https://github.com/{0}.git
    bb: https://bitbucket.org/{0}
